@model bolsadetrabajo.Models.Trabajador

@{
Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/perfil_trabajador.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
          integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
          crossorigin="anonymous" referrerpolicy="no-referrer" />

    <title>Trabajador</title>
</head>
<body>
    <nav>
        <div class="nav">
            <div class="logo"><img src="~/img/logo.png" width="120px" alt=""></div>
            <div class="acciones">
                <a href="">Inicio</a>
                <a href="" style="background-color: transparent;color:white;">Cerrar Sesion</a>
            </div>
        </div>
        <div class="imgusuario">
            <img src="~/img/avatar.png" alt="">

        </div>
    </nav>
    <div style="height: 200px; overflow: hidden;">
        <svg viewBox="0 0 500 150" preserveAspectRatio="none"
             style="height: 100%; width: 100%;">
            <path d="M0.00,49.98 C114.27,272.88 271.49,-49.98 503.67,73.53 L500.00,0.00 L0.00,0.00 Z"
                  style="stroke: none; fill: #FCA311;"></path>
        </svg>
    </div>
    <div class="container">
        <h2>@Model.Nombre, edad.</h2>
        <div class="grid">
            <aside>
                <a href=""><i class="fa-regular fa-user"></i></a>
                <a href=""><i class="fa-regular fa-heart"></i></a>
            </aside>
            <main>
                <div class="flex">
                    <div class="titulo">
                        <h3><i class="fa-regular fa-pen-to-square"></i>  Informacion Personal</h3>
                    </div>
                </div>
                <form asp-action="TrabajadorEditar"  method="post">
                    <input type="hidden" asp-for="idTrabajador" value="@Model.idTrabajador" />

                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                    <div class="gridinfo">

                        <div class="nombrecompleto">
                            <h5>Nombre Completo:</h5>
                            <p>
                                <input asp-for="Nombre" name="Nombre" type="text" value="@Model.Nombre">
                                <span asp-validation-for="Nombre" class="text-danger"></span>

                                </p>
                        </div>
                        <div class="email">
                            <h5>Email:</h5>
                            <p><input asp-for="Email" name="Email" type="email" value="@Model.Email">
                                <span asp-validation-for="Email" class="text-danger"></span>
                            </p>
                        </div>
                        <div class="nacimiento">
                            <h5>Fecha de Nacimiento:</h5>
                            <p><input asp-for="FechaNacimiento" name="FechaNacimiento" type="date" required>
                                <span asp-validation-for="FechaNacimiento" class="text-danger"></span>
                            </p>
                        </div>
                        <div class="numero">
                            <h5>Numero de Contacto:</h5>
                            <p>
                                <input type="number" asp-for="NumeroContacto" name="NumeroContacto" value="@Model.NumeroContacto">
                                <span asp-validation-for="NumeroContacto" class="text-danger"></span>
                            </p>
                        </div>
                        <div class="sexo">
                            <h5>Sexo:</h5>
                            <p>
                                <label >Mujer</label>
                                <input asp-for="Sexo" type="radio" name="Sexo" value="Mujer">
                                <label for="" >Hombre</label>
                                <input asp-for="Sexo" type="radio" name="Sexo" value="Hombre">
                                <label for="Sexo" >Otros</label>
                                <input asp-for="Sexo" type="radio" name="Sexo" value="Otros">
                                <span asp-validation-for="Sexo" class="text-danger"></span>

                            </p>
                        </div>
                        <div class="profesion">
                            <h5>Profesion:</h5>
                            <p><input type="text" asp-for="Profesion" name="Profesion" value="@Model.Profesion">
                                <span asp-validation-for="Profesion" class="text-danger"></span>
                            </p>
                        </div>
                        <div class="direccion">
                            <h5>Direccion:</h5>
                            <p><input type="text" asp-for="Direccion" name="Direccion" value="@Model.Direccion">
                                <span asp-validation-for="Direccion" class="text-danger"></span>
                            </p>
                        </div>
                        
                      
                        


                    </div>
                    <div class="flex">
                        <a href="">Cancelar</a>
                        <button type="submit">Guardar Cambios</button>

                    </div>
                </form>

            </main>
        </div>
    </div>
    <svg width="100%" height="100%" id="svg" viewBox="0 0 1440 400" xmlns="http://www.w3.org/2000/svg"
         class="transition duration-300 ease-in-out delay-150">
        <path d="M 0,400 C 0,400 0,133 0,133 C 63.317948717948724,112.13589743589743 126.63589743589745,91.27179487179487 200,98 C 273.36410256410255,104.72820512820513 356.77435897435896,139.04871794871798 446,138 C 535.225641025641,136.95128205128202 630.2666666666669,100.53333333333333 728,99 C 825.7333333333331,97.46666666666667 926.1589743589741,130.81794871794872 1000,135 C 1073.841025641026,139.18205128205128 1121.097435897436,114.19487179487179 1190,109 C 1258.902564102564,103.80512820512821 1349.4512820512819,118.4025641025641 1440,133 C 1440,133 1440,400 1440,400 Z"
              stroke="none" stroke-width="0" fill="#fca311" fill-opacity="0.53"
              class="transition-all duration-300 ease-in-out delay-150 path-0"></path>
        <path d="M 0,400 C 0,400 0,266 0,266 C 54.22307692307692,294.60769230769233 108.44615384615383,323.2153846153846 199,314 C 289.55384615384617,304.7846153846154 416.4384615384615,257.74615384615385 516,261 C 615.5615384615385,264.25384615384615 687.8000000000001,317.80000000000007 745,310 C 802.1999999999999,302.19999999999993 844.3615384615384,233.05384615384614 929,230 C 1013.6384615384616,226.94615384615386 1140.753846153846,289.9846153846154 1233,307 C 1325.246153846154,324.0153846153846 1382.623076923077,295.0076923076923 1440,266 C 1440,266 1440,400 1440,400 Z"
              stroke="none" stroke-width="0" fill="#fca311" fill-opacity="1"
              class="transition-all duration-300 ease-in-out delay-150 path-1"></path>
    </svg>
</body>

</html>